html {
    box-sizing: border-box;
}
body {
    background: #1c8197; /* fallback for old browsers */
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
.result-enter {
    transition: 0.5s;
}
.result-enter.result-enter-active {
    transform: translateY(0%);
}
.result-exit {
    transform: translateY(0);
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.result-exit-active {
    opacity: 0;
    transform: translateY(-10%);
}
